<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <div class="container-fluid">
    
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto d-flex align-items-center">
          <li class="nav-item">
            <img src="https://lh3.googleusercontent.com/7kkH-0v-FvyCQpWDmev2Hx1AnOsNTh0Nt5129L2cbPqnuH6gJ_i-IdNvZ_m1HOeGtpILffIjbtco14o8cOpM5a4BkNCof7yDBmC4ajsMYpxZkhBnMu_KJuob2hoBofFwKw_0E3v2VgfTJgJnCP55vCFZlhmSkM0zPWK_OJVWADpdjVPO0W2jgi9BuTM8ZruDRArmwSKR9IAxpVi3hUNxNVlbXzshjPOw2QEWOL7zuxzV8Tg2KeupVed9cizXopPBiLC9UMwORxWTMcPE8-lBenu8m0gYNz4DDl4TubpHR0TBEpVbjlt4iN6vcSYOj6unsh6zIDcwD1nPrwnEi9a9sjfGgp8dqSqkXx884Yyt7kiPjxyVpX14ALyVFUMLOPfA4Ghl53IuzszdM6f2OJQgof_PRk7-1yPdBlDL36A-EPHCa2CFNFhj7UtPtr0tvSoDs7ZSOQnlSCQk8tU-j-HNBx1Nyc-0u4qyXe_7cr8_PfsOfx2Jx9NZB-bC-zr9RPEBIRoTpdpOSBQmJfTDfP9Un4EowgBQdzzFoZQVlVi_N6zu0T5nVYX10ztgv_gyvAUHopgmldWoa7zM_Mr9o_tdqmic3qOngvUZGYJ1WldQyxcpdld1Q8t4GMBwwmPsL5DPQP4QQTHe7MjTWEbYWa0ipKMK7rOSTakWgSyMiN60LATSe1fCtYvrf1YxuaxZDfcCrDpF2ZxYWIWaYNCLHXipKSEBSA=w487-h973-no?authuser=2" alt="" width="50px" height="50px" class="img-fluid rounded-circle">
          </li>
          <li class="nav-item pl-3">
            <p class="m-0 font-weight-bold text-white .fs-16">Nome do usuario</p>
          </li>
          <li class="nav-item pl-3 ">
              <a href="">
                <p class="text-white .fs-16 m-0"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></p>   
              </a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto d-flex align-items-center">
          <li class="nav-item pl-3">
            <a class="m-0 font-weight-bold text-white .fs-16">Sair <i class="fa fa-sign-out" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

