ul.social-network{
    list-style: none;
    display: inline;
    padding: 0;
}

ul.social-network li{
    display: inline;
    margin: 0;
    padding: 10px;
}

.fa{
    font-size: 50pt;
    color: white;
}

.fa-github-square:hover{
    color: #0000;     
}

.fa-linkedin-square:hover{
    color:#0072b1 ;
}